@media (max-width: 1399.99px) {
  #trust .carousel-item .slider_view{
    gap: 10px;
  }
  #atmosphere .image{
  width: 100%;
}
#atmosphere .image img{
  width: 100%;
}


}

@media (max-width:1199.99px) {
  #trust button.pr_arrow{
    left: 90%;
  }
  #award .award_container{
    display: block !important;
  
  text-align: center;
}

#award .award_container h2{
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
}

#award .award_container .award_logo{
  flex-wrap: wrap;
}

#about .about_container .about_image{
  margin-top: 24px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}



#about{
  
}
}

@media (max-width: 991.98px) {
  #banner {
    padding-top: 113px;
    padding-bottom: 80px;
  }
  .banner_container .text h1 {
    font-size: 32px;
    padding-bottom: 30px;
  }
  .banner_container .bottom_text p {
    min-width: 100%;
  }
  .banner_container .bottom_text {
    flex-wrap: wrap;
    padding-bottom: 45px;
  }

  .right_side .move {
    position: static;
}
.featured_images .image{
    margin-top: 24px;
}

body{
    overflow-x: hidden;

}

.competencies_container{
  padding: 20px;
}

#trust .carousel-item .slider_view{
  flex-wrap: wrap;
  justify-content: center !important;
}

#trust .carousel-item .slider_view .singel_slide_item{
  margin-bottom: 20px;
}

#trust button{
  display: none;
}

#about{
  text-align: center;
  width: 100%;
}
#about .about_image{
  margin-top: 40px;
}
#about .about_image .image_info{
  justify-content: center;
}

#atmosphere{
  text-align: center;
  width: 100%;
}
#atmosphere .image{
  width: 100%;
}

#atmosphere .image img{
  width: 100%;
}



#atmosphere h2 img{
  display: none;
}

}

@media (max-width:767.98px) {
  #about .about_image .image{
    max-width: 100%;
  }

  #about .about_image .image img{
    width: 100%;
  }
}

