@media (max-width: 991.98px) {
  #banner {
    padding-top: 113px;
    padding-bottom: 80px;
  }
  .banner_container .text h1 {
    font-size: 32px;
    padding-bottom: 30px;
  }
  .banner_container .bottom_text p {
    min-width: 100%;
  }
  .banner_container .bottom_text {
    flex-wrap: wrap;
    padding-bottom: 45px;
  }

  .right_side .move {
    position: static;
}
.featured_images .image{
    margin-top: 24px;
}
}
